<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="test/bootstrap.php">
  <testsuites>
    <testsuite name="Gamebook Parser">
      <directory>test/src</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">PHP</directory>
    </whitelist>
  </filter>
</phpunit>
